* {
    box-sizing: border-box;
}

#main-box {
    width: 52.08vw; /* 1000px */
    height: 92.59vh; /* 1000px */
    /* border: 0.16vw solid black; 3px */
    position: relative;
}

.box-1 {
    /* Top-Left First Box */
    width: 13.02vw; /* 250px */
    height: 9.26vh; /* 100px */
    border-right: 0.26vw solid black; /* 5px */
    border-bottom: 0.46vh solid black; /* 5px */
    background-color: #e5eeeb;
    position: absolute;
    top: 0;
    left: 0;
}

.box-2 {
    /* 2nd Top Box */
    width: 18.23vw; /* 350px / 1920 * 100 */
    height: 9.26vh;
    border-right: 0.26vw solid black;
    border-bottom: 0.46vh solid black;
    background-color: #f2e7d5;
    position: absolute;
    left: 13.02vw;
}

.box-3 {
    /* 3rd Top Box  */
    width: 16.15vw; /* 310px / 1920 * 100 */
    height: 9.26vh;
    border-right: 0.40vw solid black;
    border-bottom: 0.46vh solid black;
    background-color: #f2c968;
    position: absolute;
    left: 31.25vw;
}

.box-4 {
    /* 4th Top Box [Long] */
    width: 5vw; /* 95px / 1920 * 100 */
    height: 74.07vh; /* 800px / 1080 * 100 */
    border-left: 0.15vw solid black;
    border-bottom: 0.46vh solid black;
    background-color: #fcfde7;
    position: absolute;
    right: 0;
}

.box-5 {
    /* 2nd row 1st Box */
    width: 6.51vw; /* 125px / 1920 * 100 */
    height: 16.67vh; /* 180px / 1080 * 100 */
    border-bottom: 0.46vh solid black;
    background-color: #fbfde7;
    position: absolute;
    left: 0;
    top: 9.26vh;
}

.box-6 {
    /* 2nd row 2nd Box (Big Red Square) */
    width: 24.74vw; /* 475px / 1920 * 100 */
    height: 41.67vh; /* 450px / 1080 * 100 */
    border-bottom: 0.20vh solid black;
    border-right: 0.26vw solid black;
    border-left: 0.26vw solid black;
    background-color: #d62d24;
    position: absolute;
    left: 6.51vw;
    top: 9.26vh;
}

.box-7 {
    /* 2nd row 3rd Box */
    width: 15.950vw; /* 304px / 1920 * 100 */
    height: 18.52vh; /* 200px / 1080 * 100 */
    border-bottom: 0.46vh solid black;
    border-right: 0.26vw solid black;
    background-color: #f2c968;
    position: absolute;
    right: 4.87vw; /* 92px / 1920 * 100 */
    top: 9.26vh;
}

.box-8 {
        /* 3rd row 1st Box */
    width: 6.51vw;
    height: 39.780vh; /* 425px */
    border-bottom: 0.46vh solid black;
    background-color: #e1eae5;
    position: absolute;
    bottom: 26.93vh; /* 290px */
    left: 0;
}

.box-9 {
    /* 3rd row 2nd Box below the Huge Red Box */
    left: 6.51vw;
    bottom: 11.57vh; /* 125px */
    position: absolute;
    width: 12.37vw; /* 237.5px */
    height: 30.09vh; /* 325px */
    background-color: black;
}

.box-10 {
    /* 3rd row 3rd half sized top box */
    left: 18.88vw;
    bottom: 27.78vh; /* 300px */
    width: 12.37vw;
    height: 13.89vh; /* 150px */
    position: absolute;
    background-color: #c0bfba;
    border-bottom: 0.46vh solid black;
    border-right: 0.26vw solid black;
    border-top: 0.46vh solid black;
}

.box-11 {
    /* 3rd row 3rd half sized bot box */
    left: 18.88vw;
    bottom: 13.89vh; /* 150px */
    width: 12.37vw;
    height: 13.89vh;
    position: absolute;
    background-color: #dee2d4;
    border-bottom: 0.46vh solid black;
    border-right: 0.26vw solid black;
}

.box-12 {
    /* 3rd row 4th Box */
    left: 31.2vw;
    bottom: 27.78vh;
    width: 15.90vw; /* 302px */
    height: 13.89vh;
    position: absolute;
    background-color: #d6dee0;
    border-bottom: 0.46vh solid black;
    border-right: 0.15vw solid black;
    border-top: 0.46vh solid black;
}

.box-13 {
    /* 3rd row 3rd left box */
    left: 31.2vw;
    bottom: 41.67vh; /* 450px */
    width: 7.92vw; /* 152px */
    height: 23.25vh; /* 246px */
    position: absolute;
    background-color: #dfe5d0;
    border-right: 0.26vw solid black;
}

.box-14 {
    /* 3rd row 4th right box */
    width: 7.98vw;
    height: 23.2vh;
    left: 39.12vw;
    bottom: 41.67vh;
    position: absolute;
    background-color: #f2eee2;
    border-right: 0.15vw solid black;
}

.box-15 {
    /* 4th row bot left box */
    width: 6.60vw;
    height: 26.95vh; /* 290px */
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #f4c65a;
    border-right: 0.21vw solid black;
}

.box-16 {
    /* 4th row bot beneath black square */
    width: 12.37vw;
    height: 13.89vh;
    background-color: #e3ded9;
    position: absolute;
    bottom: 0;
    left: 6.51vw;
    border-right: 0.26vw solid black;
}

.box-17 {
    /* Black Box beneath 2 boxes on top of each other */
    width: 12.37vw;
    height: 8.33vh; /* 90px */
    background-color: black;
    bottom: 5.83vh; /* 63px */
    left: 18.88vw;
    position: absolute;
}

.box-18 {
    /* Big Blue Bot Right Box */
    width: 15.95vw; /* 301px */
    height: 21.94vh; /* 237px */
    bottom: 5.83vh;
    left: 31.2vw;
    position: absolute;
    background-color: #241785;
    border-right: 0.26vw solid black;
}

.box-19 {
    /* Bot Long Box */
    width: 28.20vw; /* 538px */
    height: 5.83vh;
    bottom: 0;
    left: 18.88vw;
    position: absolute;
    background-color: #e0e0df;
    border-top: 0.46vh solid black;
    border-right: 0.26vw solid black;
}

.box-20 {
    /* Bot-Right Box */
    width: 5vw; /* 96px */
    height: 18.50vh; /* 196px */
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: #d73630;
}
