@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

/* body {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal; */
  /* } */
  

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf) format("truetype");
}

body {
    font-family: "Montserrat";
    font-weight: normal;
    font-style: italic;
}



.body {
    background-color: #ffefcb;
    color: black;
}

.footer {
    background-color: #cfb284;
}

/* html>body>nav {
    background-color: #fffcc7;
} */

#site-map-id {
    background-color: #fffcc7;
}

.site-map-contact {
    background-color: #fffcc7;
}

#coffee-past {
    text-align: justify;
}

body {
    text-align: justify;
}


html body main section div h2 {
    padding-left: 60px;
    padding-right: 70px;
    text-align: center;
}

.ordering-payment {
    text-align: center;
}

.historyPart {
    background-image: url(../images/background-image.png) ;
    font-weight: bold;
}

/* .ordering-payment {
    background-image: url(../images/background-image.png);
} */
/* 
#ordering-form {
    background-color: #e7d6c7;
} */

/* #order-ship-heading {
    background-color: #e7d6c7;
 */
/* } */

.privacy-notice {
    background-color: #e7d6c7;
}

.faq-page {
    background-color: #f2e1d9;
}

#fun-facts {
    background-color: #d7b085;
}

.featured-coffee {
    background-color: #c4996a;
}

#featured-heading {
background-color: #0d1117;
color: white;
}

#fun-fact-heading {
    background-color: #0d1117;
    color: white;
}

#site-map-heading {
    background-color: #0d1117;
    color: white;
}

#promo-heading {
    background-color: #0d1117;
    color: white;
}

#favorite-heading {
    background-color: #0d1117;
    color: white;
}

#faq-heading {
    background-color: #0d1117;
    color: white;
}

#coffee-past-future-heading {
    background-color: #0d1117;
    color: white;
}

#intro-heading {
    background-color: #283750;
    color: white;
}

#history-heading {
    background-color: #283750;
    color: white;
}

#beans-heading {
    background-color: #283750;
    color: white
}

#here-products {
    background-color: #283750;
    color: white;
}

#location-id {
    background-color: #283750;
    color: white;
}