* {
    box-sizing: border-box;
}

#global-box {
    /* Resolution: 1920x1080 */
    border: 0.2vw solid black; /* 3px */
    height: 55.56vh;              /* 600px */
    width: 31.25vw;               /* 600px */
    position: relative;
}


.box1 {
    /* Top Left */
    height: 13.89vh;
    width: 10.42vw;
    background-color: #fef9e6;
    border-right: 0.36vw solid black;
    border-bottom: 0.93vh solid black;
    top: 0vh;
    left: 0vw;
    position: absolute;
}


.box2 {
    /* Red Box */
    width: 20.65vw;
    height: 32.41vh;
    background-color: #ec4938;
    border-left: 0.16vw solid black;
    border-bottom: 0.28vh solid black;
    border-right: 0.15vw solid black;
    position: absolute;
    top: 0vh;
    left: 10.42vw;
}


.box3 {
    /* 2nd row Box */
    height: 19vh;
    width: 10.42vw;
    background-color: #fef9e6;
    border-right: 0.36vw solid black;
    border-top: 0.93vh solid black;
    border-bottom: 0.28vh solid black;
    position: absolute;
    top: 13.89vh;
    left: 0vw;
}


.box4 {
    /* Bot-Left Purple Box */
    height: 22.75vh;
    width: 10.42vw;
    background-color: #409cc5;
    border-top: 0.65vh solid black;
    border-right: 0.36vw solid black;
    border-bottom: 0.2vw solid black;
    position: absolute;
    top: 32.41vh;
    left: 0vw
}


.box5 {
    /* Bot level Box */
    height: 22.75vh;
    width: 17.23vw;
    background-color: #fef9e6;
    border-top: 0.65vh solid black;
    border-left: 0.16vw solid black;
    border-right: 0.21vw solid black;
    border-bottom: 0.15vh solid black;
    position: absolute;
    bottom: 0vh;
    left: 10.42vw;
}

.box6 {
    /* Bot-Top Box */
    height: 11.39vh;
    width: 3.39vw;
    background-color: #fef9e6;
    border-top: 0.65vh solid black;
    border-bottom: 0.74vh solid black;
    border-left: 0.16vw solid black;
    position: absolute;
    right: 0vw;
    top: 32.41vh;
}

.box7 {
    /* Bot-Bot Box */
    height: 11.39vh;
    width: 3.39vw;
    background-color: #ffff00;
    border-top: 0.74vh solid black;
    border-left: 0.16vw solid black;
    border-bottom: 0.15vh solid black;
    position: absolute;
    bottom: 0vh;
    right: 0vw;
}
